@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Jost";
}

.container {
  width: 1111px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

header {
  margin-bottom: 70px;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 65px;
}
header nav picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header nav picture img:last-of-type {
  margin-left: 19px;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header nav ul li:not(:last-child) {
  margin-right: 42px;
}
header nav ul li a {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  color: #333136;
}
header nav ul li a:hover {
  border-bottom: 1px solid #333;
}

main .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 252px;
  background-image: url(../img/background/background-5.png);
  border-radius: 15px;
  margin-bottom: 160px;
}
main .banner h1 {
  font-weight: 500;
  font-size: 48px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 24px;
}
main .banner p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}
main .testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 160px;
}
main .testimonial article {
  width: 350px;
  height: 478px;
  border-radius: 15px;
  overflow: hidden;
  background: #FDF3F0;
  padding-bottom: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
main .testimonial article picture img {
  width: 350px;
  height: 320px;
}
main .testimonial article h3 {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  letter-spacing: 5px;
  color: #E7816B;
  margin-bottom: 16px;
  text-transform: uppercase;
}
main .testimonial article p {
  width: 286px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #333136;
}
main .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 15px;
  overflow: hidden;
  height: 308px;
  margin-bottom: 100px;
}
main .menu article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 541px;
  height: 100%;
  border-radius: 15px;
}
main .menu article h3 {
  font-weight: 500;
  font-size: 40px;
  text-align: center;
  letter-spacing: 2px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 24px;
}
main .menu article a {
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
main .menu .first {
  background-image: url(../img/background/background-3.png);
}
main .menu .second {
  background-image: url(../img/background/background-4.png);
}
main .block__4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 292px;
  background-image: url(../img/background/background-5.png);
  -webkit-transform: translateY(60px);
          transform: translateY(60px);
}
main .block__4 .information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 46px;
  padding-left: 95px;
}
main .block__4 .information h4 {
  width: 268px;
  font-weight: 500;
  font-size: 40px;
  color: #FFFFFF;
  margin-bottom: 0;
}
main .block__4 .information p {
  width: 459px;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}
main .block__4 .button__for {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 115px;
  width: 50%;
  height: 100%;
}
main .block__4 .button__for button {
  padding: 17px 19px;
  background: #FFFFFF;
  border-radius: 8px;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
main .block__4 .button__for button:hover {
  background-color: #333136;
}
main .block__4 .button__for button:hover a {
  color: #FFFFFF;
}
main .block__4 .button__for button a {
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #333136;
}

footer {
  width: 100%;
  background-color: #1D1C1E;
  margin-bottom: 0;
  padding-bottom: 72px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
footer header {
  padding-top: 72px;
  margin-bottom: 31px;
}
footer header nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.116);
  padding-bottom: 40px;
}
footer header nav ul li a {
  color: #FFFFFF;
}
footer header nav ul li a:hover {
  border-bottom: 1px solid #fff;
}
footer .footer__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 78px;
}
footer .footer__address address {
  width: 350px;
  height: 78px;
  font-style: normal;
  background-color: transparent;
  font-weight: 700;
  font-size: 16px;
  margin: 0;
  color: rgb(117, 110, 110);
}
footer .social__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 430px;
  height: 78px;
}
footer .social__media i {
  font-size: 24px;
  color: #E7816B;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
footer .social__media i:hover {
  color: #FFAD9B;
}
footer .social__media i:not(:last-child) {
  margin-right: 16px;
}/*# sourceMappingURL=webdesign.css.map */